<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Expenses List</title>
    <link rel="stylesheet" href="/index.css" />
  </head>
  <body>
    <h1>Expenses List</h1>
    <ul class="expense-items">
      <% if(expenses.length>0) { %> <% for(let expense of expenses) { %>
      <li class="expense-item">
        <p><b>Expense Title: </b><%=expense.title%></p>
        <p><b>Amount: </b>$. <%= expense.amount %></p>
        <p><b>Description: </b><%= expense.description %></p>
        <div>
          <a href="/edit-expense/<%= expense.id %>" class="link-btn">Edit</a>
          <form action="/delete-expense" method="POST">
            <input type="hidden" value="<%= expense.id %>" name="expenseId" />
            <button class="btn" type="submit">Delete</button>
          </form>
        </div>
      </li>
      <% } %> <% } else {%>
      <h1>No expense found</h1>
      <%} %>
    </ul>
  </body>
</html>
